{% extends "admin/index.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
{% if user.is_authenticated %}
<a href="{% url 'dashboard:index' %}">{% trans 'dashboard' %}</a> |
<a href="{% url 'reports:index' %}">{% trans 'reports' %}</a> |
{% endif %}
<a href="{% url 'admin:index' %}">{% trans 'equipment' %}</a>
&rsaquo;
{% for app in app_list %}
{{ app.name }}
{% endfor %}
</div>
{% endblock %}
{% endif %}

{% block sidebar %}{% endblock %}
