{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
{% block extrastyle %}{% endblock %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<link rel="stylesheet" type="text/css" href="{% static "base/css/override.css" %}" />
{% block jquerycdn %}
<script src="https://code.jquery.com/jquery-1.12.3.js"></script>
{% endblock %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="site-logo">
        {% block site-logo %}
            <img src="{% static "base/img/logo.png" %}">
        {% endblock %}
        </div>
        <div id="header-ear"></div>
        <div id="branding">
        {% block branding %}{% endblock %}
        </div>
        {% block usertools %}
        {% if has_permission %}
        <div id="user-tools">
            {% block welcome-msg %}
                {% trans 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                {% if site_url %}
                    <a href="{{ site_url }}">{% trans 'View site' %}</a> /
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
        {% endif %}
        {% endblock %}
        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'dashboard:index' %}">{% trans 'home' %}</a>
        </div>
        <div class="collapse navbar-collapse">
        {% if user.is_authenticated %}
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'management' %} <span class="caret"></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'admin:index' %}equipment/equipment/">{% trans 'Equipment' %}</a></li>
                    <li><a href="{% url 'admin:index' %}equipment/equipmenttype/">{% trans 'Equipment Type' %}</a></li>
                    <li><a href="{% url 'admin:index' %}equipment/equipmentmodel/">{% trans 'Equipment Model' %}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'admin:index' %}equipment/maintenancetype/">{% trans 'Maintenance Type' %}</a></li>
                    <li><a href="{% url 'admin:index' %}equipment/maintenanceplan/">{% trans 'Maintenance Plan' %}</a></li>
                    <li><a href="{% url 'admin:index' %}equipment/maintenance/">{% trans 'Maintenance' %}</a></li>
                    <li><a href="{% url 'admin:index' %}equipment/joborder/">{% trans 'Job Order' %}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'admin:index' %}equipment/supplier/">{% trans 'Suppliers' %}</a></li>
                    <li><a href="{% url 'admin:index' %}equipment/location/">{% trans 'Locations' %}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'services' %} <span class="caret"></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'admin:index' %}equipment/projects">{% trans 'projects' %}</a></li>
                    <li><a href="{% url 'admin:index' %}equipment/deployments">{% trans 'deployments' %}</a></li>
                    <li><a href="{% url 'admin:index' %}equipment/utilization">{% trans 'utilization' %}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'dashboard:index' %}">{% trans 'hauling' %}</a></li>
                    <li><a href="{% url 'dashboard:index' %}">{% trans 'concrete mixer' %}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'reports' %} <span class="caret"></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'equipment:index' %}">{% trans 'equipment 201' %}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'equipment:kpm-list' %}">{% trans 'key performance indicators' %}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'reports:billing' %}">{% trans 'billing' %}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'reports:utilization' %}">{% trans 'utilization' %}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'schedules' %} <span class="caret"></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'dashboard:index' %}">{% trans 'preventive maintenance monitoring' %}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'dashboard:index' %}">{% trans 'jack up' %}</a></li>
                    <li><a href="{% url 'dashboard:index' %}">{% trans 'erection' %}</a></li>
                    <li><a href="{% url 'dashboard:index' %}">{% trans 'disassembly' %}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'tools' %} <span class="caret"></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'dashboard:index' %}calculator_mixer">{% trans 'calculator: concrete mixer' %}</a></li>
                    <li><a href="{% url 'dashboard:index' %}">{% trans 'calculator: equipment deployment' %}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'dashboard:index' %}">{% trans 'user manual: search' %}</a></li>
                    <li><a href="{% url 'dashboard:index' %}">{% trans 'user manual: upload' %}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'admin' %} <span class="caret"></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'admin:index' %}auth/user">{% trans 'users' %}</a></li>
                    <li><a href="{% url 'admin:index' %}auth/group">{% trans 'groups' %}</a></li>
                    {% if user.is_superuser %}
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'admin:index' %}">{% trans 'backend' %}</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
        {% endif %}
        </div>
      </div>
    </nav>

    {% block breadcrumbs %}{% endblock %}
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->
    <div class="footer"></div>
</div>
<!-- END Container -->
{% block footer %}
<div id="footer" class="footer">
    <div class="poweredby">
        <img src="https://img.shields.io/badge/powered--by-ATL-blue.svg">
        <img src="https://img.shields.io/badge/managed--by-RSC-lightgrey.svg">
    </div>
    <div class="copyright">
        <img src="https://img.shields.io/badge/copyright-2016-lightgrey.svg">
        <img src="https://img.shields.io/badge/digital-warlocks-blue.svg">
    </div>
</div>
{% endblock %}

</body>
</html>
