{% extends "base/base.html" %}

{% block title %}{{ title|default:_('Equipment') }} | {{ site_title|default:_('Gatehouse') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'dashboard:index' %}">{{ site_header|default:_('Equipment | Management') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
