{% extends "base/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "base/css/dashboard.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "apps/dashboard/js/slider/jquery.bxslider.css" %}" />
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{% static "apps/dashboard/js/calculator.js" %}"></script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
{% if user.is_authenticated %}
    <h1>Welcome to our simple In-Transit Mixer Calculator</h1>
    <p>Please enter the required floor level and volume for the simulation</p>
    </br>
    <label style="width: 150px;">Floor Level:</label><input type="text" id="flr_lvl" /></br>
    <label style="width: 150px;">Volume (cu m):</label><input type="text" id="flr_vol" /></br>
    </br>
    <button onclick="CalculateMixer()" id="calculate">Calculate</button>
</br></br>
    <hr>
    </br>
    <h1 id="computation_result"></h1>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    {% load log %}
    {% get_admin_log 10 as admin_log for_user user %}
    {% if admin_log %}
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
        <h3>{% trans 'My actions' %}</h3>
        <ul class="actionlist">
        {% for entry in admin_log %}
        <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
            {% if entry.is_deletion or not entry.get_admin_url %}
                {{ entry.object_repr }}
            {% else %}
                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
            {% endif %}
            <br/>
            {% if entry.content_type %}
                <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
            {% else %}
                <span class="mini quiet">{% trans 'Unknown content' %}</span>
            {% endif %}
        </li>
        {% endfor %}
        </ul>
    {% else %}
    <div class="module" id="contact-us-module">
        <h2>{% trans 'Equipment Department' %}</h2>
        <h3>{% trans 'Contact Us' %}</h3>
        <ul class="contactlist">
            <li class="addlink">
                <div><strong>Engr. Arthur Lascano</strong></div>
                <div>AVP - Equipment</div>
                <div>+63 (917) 300-7201</div>
                <div>arthur.lascano@ddtkonstract.com</div>
            </li>
            <li class="addlink">
                <div><strong>Engr. Joselito Onida</strong></div>
                <div>Equipment - In - Charge</div>
                <div>+63 (917) 885-9984</div>
                <div>joselito.onida@ddtkonstact.com</div>
            </li>
            <li class="addlink">
                <div><strong>Engr. Noli Reyes</strong></div>
                <div>Equipment Superintendent (Horizontal Division)</div>
                <div>+63 (917) 819-4183</div>
                <div>noli.reyes@ddtkonstract.com</div>
            </li>
            <li class="addlink">
                <div><strong>Arnulfo Medina</strong></div>
                <div>Equipment Superintendent (vertical Division)</div>
                <div>+63 (917) 819-7261</div>
                <div>arnulfo.medina@ddtkonstract.com</div>
            </li>
            <li class="addlink">
                <div><strong>Robin Cancela</strong></div>
                <div>Equipment Specialist</div>
                <div>+63 (917) 856-7474</div>
                <div>robin.cancela@ddtkonstract.com</div>
            </li>
        </ul>
    {% endif %}
    </div>
</div>
{% endblock %}
