{% extends "base/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.3/dt-1.10.12/b-1.2.2/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="{% static "apps/reports/css/reports.css" %}" />
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.3/dt-1.10.12/b-1.2.2/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="{% static "apps/reports/js/reports.js" %}"></script>
<script src="{% static "apps/reports/js/utilization.js" %}"></script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <table id="utilization-report" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>project</th>
                <th>date</th>
                <th>property no.</th>
                <th>shift hours</th>
                <th>down hours</th>
                <th>operating hours</th>
                <th>chargable hours</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>No Records Available</td>
            </tr>
        </tbody>
    </table></div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
</div>
{% endblock %}
