{% extends "base/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.3/dt-1.10.12/b-1.2.2/datatables.min.css" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{% static "apps/equipment/css/equipment.css" %}" />
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.3/dt-1.10.12/b-1.2.2/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="{% static "apps/equipment/js/equipment.js" %}"></script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <p style="text-align: center;">EQUIPMENT DETAILS</p>
    <br>
    <table id="201-detail-1" class="stripe cell-border">
        <thead>
            <tr>
                <th>Equipmen ID</th>
                <th>Property No.</th>
                <th>Model</th>
                <th>Serial No.</th>
                <th>Status</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>No Records Available</td>
            </tr>
        </tbody>
    </table>
    <table id="201-detail-2" class="stripe cell-border">
        <thead>
            <tr>
                <th>Supplier</th>
                <th>Purchase Cost</th>
                <th>Rental Rate</th>
                <th>Third Party Certification</th>
                <th>Total Operating Hours</th>
                <th>Total Mileage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>No Records Available</td>
            </tr>
        </tbody>
    </table>
    <br>
    <p style="text-align: center;">EQUIPMENT HISTORY</p>
    <br>
    <div id='tabs'>
        <ul>
            <li><a href="#tab-1">Utilization</a></li>
            <li><a href="#tab-2">Job Order</a></li>
            <li><a href="#tab-3">Maintenance</a></li>
        </ul>
        <div id='tab-1' style="width: 1200px">
            <table id="201-utilization" class="stripe cell-border tab-table">
                <thead>
                    <tr>
                        <th>Utilization ID</th>
                        <th>Identifier</th>
                        <th>Date Used</th>
                        <th>Shift Hours</th>
                        <th>Down Hours</th>
                        <th>Available Hours</th>
                        <th>Operating Hours</th>
                        <th>Idle Time</th>
                        <th>Chargable Hours</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>No Records Available</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id='tab-2'  style="width: 1200px">
            <table id="201-joborder" class="stripe cell-border tab-table">
                <thead>
                    <tr>
                        <th>JobOrder ID</th>
                        <th>Job Order No.</th>
                        <th>Date Filed</th>
                        <th>Summary</th>
                        <th>Activities</th>
                        <th>Date Started</th>
                        <th>Date Finished</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>No Records Available</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id='tab-3' style="width: 1200px">
            <p style="text-align: center;">PREVENTIVE MAINTENANCE PLANS</p>
            <br>
            <table id="201-pmplan" class="stripe cell-border tab-table">
                <thead>
                    <tr>
                        <th>PM Plan ID</th>
                        <th>Identifier</th>
                        <th>Plan Start</th>
                        <th>Plan End</th>
                        <th>Operating Hours Threshold</th>
                        <th>Operating Hours Threshold Warning</th>
                        <th>Mileage Threshold</th>
                        <th>Mileage Threshold Warning</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>No Records Available</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <p style="text-align: center;">PREVENTIVE MAINTENANCE HISTORY</p>
            <br>
            <table id="201-pmrecord" class="stripe cell-border tab-table">
                <thead>
                    <tr>
                        <th>PM Record ID</th>
                        <th>Identifier</th>
                        <th>Previous PM</th>
                        <th>Next PM</th>
                        <th>Previous Operating Hours</th>
                        <th>Previous Mileage Reading</th>
                        <th>Passed Checkes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>No Records Available</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
{% endblock %}
