{% extends "base/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.3/dt-1.10.12/b-1.2.2/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="{% static "apps/equipment/css/equipment.css" %}" />
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.3/dt-1.10.12/b-1.2.2/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="{% static "apps/equipment/js/kpm.js" %}"></script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
    <table id="kpm-detail" class="stripe cell-border">
        <thead>
            <tr>
                <th>Property No.</th>
                <th>Total Shift Hours</th>
                <th>Total Down Hours</th>
                <th>Total Available Hours</th>
                <th>Total Operating Hours</th>
                <th>Total Idle Time</th>
                <th>% Available</th>
                <th>% Down</th>
                <th>% Utility</th>
                <th>% Idle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>No Records Available</td>
            </tr>
        </tbody>
    </table>
    <br>
    <p style="text-align: center;">UTILIZATION HISTORY</p>
    <br>
    <table id="kpm-utilization" class="stripe cell-border">
        <thead>
            <tr>
                <th>Utilization ID</th>
                <th>Identifier</th>
                <th>Date Used</th>
                <th>Shift Hours</th>
                <th>Down Hours</th>
                <th>Available Hours</th>
                <th>Operating Hours</th>
                <th>Idle Time</th>
                <th>Chargable Hours</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>No Records Available</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
