/* DASHBOARD */

.dashboard .module table th {
    width: 100%;
}

.dashboard .module table td {
    white-space: nowrap;
}

.dashboard .module table td a {
    display: block;
    padding-right: .6em;
}

/* RECENT ACTIONS MODULE */

.module ul.actionlist {
    margin-left: 0;
}

ul.actionlist li {
    list-style-type: none;
}

ul.actionlist li {
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

/* Splash Banner */

#splash-banner {
    display: block;
    height: 520px;
    width: 900px;
    background: url(../img/splash-banner.jpg) 0px 0px no-repeat;
}

/* Charts Area */
#charts-area {
    clear: both;
    height: 520px;
    width: 900px;
}

#usage-charts, #avail-charts, #topx-charts{
    height: 500px;
    padding: 0px;
    margin: 0px;
}

#avail-charts{
    position:absolute;
    top: 0;
    width: 600px;
}

#usage-charts{
    float: right;
    width: 300px;
}
