/* LOGIN FORM */

body.login {
    background: #f8f8f8;
}

.login #header {
    padding: 0px;
    margin: 0px;
    width: auto;
    height: 60px;
}

.login #header h1 {
    font-size: 18px;
}

.login #header h1 a {
    color: #fff;
}

.login #content {
    padding: 0px;
    width: 100%;
}

.login #container {
    background: #fff;
    overflow: hidden;
}

.login #content-main {
    float: none;
    padding: 20px 20px 0;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
    border: 1px solid #eaeaea;
    border-radius: 4px;
}

.login .form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
    border-bottom: none;
}

.login .form-row label {
    padding-right: 0.5em;
    line-height: 2em;
    font-size: 1em;
    clear: both;
    color: #333;
}

.login .form-row #id_username, .login .form-row #id_password {
    clear: both;
    padding: 8px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.login span.help {
    font-size: 10px;
    display: block;
}

.login .submit-row {
    clear: both;
    padding: 20px;
    margin: 20px auto 20px;
    border: none;
    background: none;
    text-align: left;
}

.login .password-reset-link {
    text-align: center;
}
