/* reports */

/* datatables button override */
div .dt-buttons {
    margin: 5px 5px 8px 0px;
}

/* content-main */
#content-main {
    width: 100% !important;
    min-width: 1250px;
}

.tab-table {
    width: 100% !important;
    min-width: 1200px;
}
